@model IEnumerable<UniplanProject_G03.Models.Blog>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <br />
            <h1 align="center">บทความ</h1>
            <br />
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            <center>หัวเรื่อง</center>
                        </th>
                        <th>
                            <center>ภาพประกอบ</center>
                        </th>
                        <th>
                            <center>รายละเอียด</center>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="font-size: 18px;">
                                @Html.DisplayFor(modelItem => item.Topic)
                            </td>
                            <td>
                                <center><img src=@Url.Content("~/Content/images/blog/" + @Html.DisplayFor(modelItem => item.Urlimg)) style="width: auto; height: 150px;" /></center>
                            </td>
                            <td style="width: 30%" id="col-content">
                                @Html.DisplayFor(modelItem => item.Content1)
                            </td>
                            <td>
                                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                                <center>@Html.ActionLink("อ่านต่อ", "Details", new { id = item.Id }, new { @class = "btn btn-info" })</center>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.Identity.GetUserName() == "admin@gmail.com")
                                    {
                                        <center>@Html.ActionLink("ลบ", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })</center>
                                        <center>@Html.ActionLink("แก้ไข", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })</center>
                                    }
                                }
                                    </td>
                        </tr>
                    }
                </table>
                <br />
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.GetUserName() == "admin@gmail.com")
                {
                    <p>
                        <center>@Html.ActionLink("เพิ่มบทความ", "Create", "", new { @class = "btn btn-success" })</center>
                    </p>
                }
            }
        </div>
    </div>
</div>
<hr />
