@model UniplanProject_G03.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 align="center"> * สร้างบัญชีของคุณสิ!! * </h2>

<div class="container body-content">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <hr />

        //ประวัติส่วนตัว
        <h2>ประวัติส่วนตัว</h2>
        <br />
        <div class="form-group">
            <!-- ชื่อ-สกุล -->
            @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
            <!-- ชื่อเล่น -->
            @Html.LabelFor(m => m.Nick, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Nick, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Nick, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
            <!-- ว/ด/ป.เกิด -->
            @Html.LabelFor(m => m.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @*<input type="text" name="Dob" id="Dob" class="form-control" readonly />*@
                @Html.EditorFor(m => m.Dob, new { htmlAttributes = new { @class = "form-control", placeholder = "วัน/เดือน/ปีเกิด", @readonly = "true" } })
                @Html.ValidationMessageFor(m => m.Dob, "", new { @class = "text-danger" })
            </div>

            @Html.LabelFor(m => m.Sex, new { @class = "control-label col-md-2" })
            <!-- Sex -->
        <div class="col-md-4" style="font-size: 16px">

            @Html.RadioButtonFor(m => m.Sex, "Male") <b>ชาย</b> &nbsp;
            @Html.RadioButtonFor(m => m.Sex, "Female") <b>หญิง</b> <br/>
            @Html.ValidationMessageFor(m => m.Sex, "", new { @class = "text-danger" })
        </div>
        </div>

        <hr />
        //ข้อมูลมหาวิทยาลัย
        <h2>ข้อมูลมหาวิทยาลัย</h2>
        <br />
        <div class="form-group">
            <!-- รหัสนักศึกษา-->
            @Html.LabelFor(m => m.StudentID, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.StudentID, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StudentID, "", new { @class = "text-danger" })
            </div>
            <!-- มหาวิทยาลัย/วิทยาลัย-->
            @Html.LabelFor(m => m.University, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.University, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.University, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
            <!-- คณะ/สำนักวิชา-->
            @Html.LabelFor(m => m.Institute, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Institute, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Institute, "", new { @class = "text-danger" })
            </div>
            <!-- สาขาวิชา -->
            @Html.LabelFor(m => m.Branch, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Branch, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Branch, "", new { @class = "text-danger" })
        </div>
        </div>

        <div class="form-group">
            <!-- ปีที่ -->
            @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.Motto, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.TextAreaFor(m => m.Motto, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Motto, "", new { @class = "text-danger" })
        </div>
        </div>

        <hr />
        //ข้อมูลเข้าสู่ระบบ
        <h2>ข้อมูลเข้าสู่ระบบ</h2>
        <br />

        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.Url, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Url, new { htmlAttributes = new { @class = "form-control", type = "file" } })
                @Html.ValidationMessageFor(m => m.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        </div>
        <br/>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" align="center">
                <input type="submit" class="btn btn-success" value="ลงทะเบียน" />
                <input type="reset" class="btn btn-warning" value="ต้องการกรอกใหม่" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @Scripts.Render("~/bundles/jqueryui")
        @Styles.Render("~/Content/themes/base/jquery-ui.css")

        <script type="text/javascript">
            $(document).ready(function () {
                $('#Dob').datepicker({
                    dateFormat: 'yy-mm-dd',
                    changeMonth: true,
                    changeYear: true,
                    yearRange: "-60:+0"
                });

            });
        </script>
    }
</div>
<br />
<hr />