@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Uniplan</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-dark navbar-fixed-top" id="nav">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<img src="~/Content/images/logo/uniplanlogo.png" style="width: 30px;height: 30px" />-->
                @Html.ActionLink("UniversityStudyPlanner", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.Identity.GetUserName() == "admin")
                    {
                <ul class="nav navbar-nav">
                    @* <li>@Html.ActionLink("Home", "Index", "Home")</li> *@
                    <li>@Html.ActionLink("สถิติน่าสนใจ", "", "")</li>
                    <li>@Html.ActionLink("รายงาน", "", "")</li>
                    <li>@Html.ActionLink("จัดการบทความ", "", "")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Planner", "Index", "Planners")</li>
                            <li>@Html.ActionLink("Goal", "Index", "Goals")</li>
                            <li>@Html.ActionLink("Blog", "Index", "Blog")</li>*@
                            <li>@Html.ActionLink("ติดตามอารมณ์", "", "")</li>
                            <li>@Html.ActionLink("แพลนเนอร์", "", "")</li>
                            <li>@Html.ActionLink("เป้าหมาย", "", "")</li>
                            <li>@Html.ActionLink("บทความ", "", "")</li>

                            @*<li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Blog", "Index", "Blog")</li>*@
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        <li>@Html.ActionLink("บทความที่น่าสนใจ", "Index", "Home", null, null, "Blog", null, null)</li>
                        <li>@Html.ActionLink("สถิติน่าสนใจ", "Index", "Home", null, null, "Statistic", null, null)</li>
                        <li>@Html.ActionLink("นักพัฒนา", "Index", "Home", null, null, "Developer", null, null)</li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <!--<div class="container body-content">-->
    <div class="fluid-container">
        @RenderBody()
        <div align="center">
            <footer id="foot">
                <p>
                    &copy; @DateTime.Now.Year - UniversityStudyPlanner(Uniplan) <br />
                    Information Technology, Suranaree University Of Technology - TH
                </p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@RenderSection("scripts", false)*@
</body>
</html>
