@model IEnumerable<UniplanProject_G03.Models.Goal>
@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated)
{
    if (User.Identity.GetUserName() == "admin")
    {
        //admin

    }
    else
    {
        //member
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";

<div class="body-content col-md-12">
    <br/>
    <center><h2 style="font-size: 36px"><b>เป้าหมาย</b></h2></center>
    <br />

    <!-- เป้าหมายระยะสั้น -->
    <div class="col-md-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="font-size: 20px">
                        <center><b>เป้าหมายระยะสั้น</b></center>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var type = item.GoalTypeID;

                    if (type == 1)
                    {
                        var user = item.UserName;
                        if (user == User.Identity.GetUserName())
                        {
                            <tr>
                                <td>
                                    <div style="font-size: 18px">
                                        @Html.ActionLink("สำเร็จ", "Delete", new { id = item.Id })
                                        @Html.DisplayFor(modelItem => item.Topic)
                                    </div>
                                    <div class="progress" style="height: 20px">
                                        @{
                                            var percent = item.Percent + "%";
                                        }
                                        @if (item.Percent < 100)
                                        {
                                            <div class="progress-bar progress-bar-info progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>%</text>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar progress-bar-success progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>% Sucessfully - Congratulation </text>
                                            </div>
                                        }
                                    </div>
                                    <div align="center">
                                        @Html.ActionLink("กี่เปอร์เซนต์แล้วบอกฉันสิ?", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("รายละเอียด", "Details", new { id = item.Id })<br />
                                    </div>
                                    <hr />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="font-size: 20px">
                        <center><b>เป้าหมายระยะกลาง</b></center>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var type = item.GoalTypeID;

                    if (type == 2)
                    {
                        var user = item.UserName;
                        if (user == User.Identity.GetUserName())
                        {
                            <tr>
                                <td>
                                    <div style="font-size: 18px">
                                        @Html.ActionLink("สำเร็จ", "Delete", new { id = item.Id })
                                        @Html.DisplayFor(modelItem => item.Topic)
                                    </div>
                                    <div class="progress" style="height: 20px">
                                        @{
                                            var percent = item.Percent + "%";
                                        }
                                        @if (item.Percent < 100)
                                        {
                                            <div class="progress-bar progress-bar-info progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>%</text>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar progress-bar-success progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>% Sucessfully - Congratulation </text>
                                            </div>
                                        }
                                    </div>
                                    <div align="center">
                                        @Html.ActionLink("กี่เปอร์เซนต์แล้วบอกฉันสิ?", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("รายละเอียด", "Details", new { id = item.Id })<br />
                                    </div>
                                    <hr />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="font-size: 20px">
                        <center><b>เป้าหมายระยะยาว</b></center>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var type = item.GoalTypeID;

                    if (type == 3)
                    {
                        var user = item.UserName;
                        if (user == User.Identity.GetUserName())
                        {
                            <tr>
                                <td>
                                    <div style="font-size: 18px">
                                        @Html.ActionLink("สำเร็จ", "Delete", new { id = item.Id })
                                        @Html.DisplayFor(modelItem => item.Topic)
                                    </div>
                                    <div class="progress" style="height: 20px">
                                        @{
                                            var percent = item.Percent + "%";
                                        }
                                        @if (item.Percent < 100)
                                        {
                                            <div class="progress-bar progress-bar-info progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>%</text>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress-bar progress-bar-success progress-bar-striped" style=" width: @percent">
                                                @Html.DisplayFor(modelItem => item.Percent)<text>% Sucessfully - Congratulation </text>
                                            </div>
                                        }
                                    </div>
                                    <div align="center">
                                        @Html.ActionLink("กี่เปอร์เซนต์แล้วบอกฉันสิ?", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("รายละเอียด", "Details", new { id = item.Id })<br />
                                    </div>
                                    <hr />
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>

</div>

<br />
<div class="col-md-12" align="center">
    @Html.ActionLink("เพิ่มเป้าหมาย", "Create")
</div>
<div class="col-md-12">
    <br />
    <hr />
</div>
    }
}
else
{
    //user
}