@model IEnumerable<UniplanProject_G03.Models.AspNetUser>
@using Microsoft.AspNet.Identity

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@

@if (User.Identity.IsAuthenticated)
{
    ///string identity = User.Identity.GetUserName();

    if (User.Identity.GetUserName() == "admin")
    {
        ViewBag.Title = "Customer List";

        <h2 align="center">บัญชีผู้ใช้ระบบวางแผนการเรียนออนไลน์</h2>

        <div class="table-responsive">
            <div class="body-content">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    ชื่อผู้ใช้
                                </th>
                                <th>
                                    ชื่อ - นามสกุล
                                </th>
                                <th>
                                    ชื่อเล่น
                                </th>
                                <th>
                                    ว/ด/ป.เกิด
                                </th>
                                <th>
                                    เพศ
                                </th>
                                <th>
                                    รหัสนักศึกษา
                                </th>
                                <th>
                                    มหาวิทยาลัย
                                </th>
                                <th>
                                    คณะ/สำนัก
                                </th>
                                <th>
                                    สาขา
                                </th>
                                <th>
                                    ชั้นปี
                                </th>
                                <th>
                                    คติประจำใจ
                                </th>
                                <th>
                                    รูปภาพ
                                </th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                if (item.UserName != "admin")
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nick)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Dob)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Sex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.StudentID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.University)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Institute)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Branch)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Year)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Motto)
                                        </td>
                                        <td align="center">
                                            @*<img src="..." class="rounded mx-auto d-block" alt="...">*@
                                            @if (item.Url == null)
                                            {
                                                <img src="~/Content/images/logo/uniplanlogo.png" style="height: 100px; width: auto" />
                                            }
                                            else
                                            {
                                                <img src="~/Content/images/profile/@item.Url" style="height: 100px; width: auto" />
                                            }

                                        </td>
                                    </tr>
                                }
                                else
                                {

                                }
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" align="center">
                    <p>
                        <a class="btn btn-success" href="@Url.Action("exportReport")">Report Member</a>
                    </p>
                </div>
            </div>
        </div>

    }
}


